@import "client/components/themes/params"
body
  background: url("/uploads/bg.jpg")
  .theme-main
    color: black
    a
      color: black
    .content
      background-color: white
      h2
        background-color: $blue-color
        text-align: left !important
        padding: 5px
        color: white
    .menu1
      margin-bottom: 10px
      border-bottom: 2px solid gray
      background-color: white
      display: flex
      justify-content: space-around
      div
        padding: 15px 0
        font-size: 1.2em

    .blue-box
      background-color: $blue-color
      color: whitesmoke
      a
        color: whitesmoke
    img#nikolaev
      -webkit-transform: scaleX(-1)
      transform: scaleX(-1)
    @media screen and (min-width: $min-width)
      #bottom-info
        display: flex
        justify-content: space-between
        div
          text-align: left

    .partners
      background-color: white
      display: flex
      @media screen and (max-width: $min-width)
        flex-wrap: wrap
      align-content: baseline
      a
        margin: auto
        img
          max-width: 100px
          max-height: 100px
